* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.panel {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    padding: 30px 0;
}

.panel__excursins {
    width: 70%;
}

.excursions {
    display: flex;
    flex-wrap: wrap;
}

.excurions__item {
    border: 1px solid #bbb;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    width: calc(50% - 20px);
}

.panel__form {
    background-color: #f4f4f4;
    padding: 20px;
    width: 30%;
}

.uploader,
.order {
    border-bottom: 1px solid #bbb;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.form__field {
    display: block;
}

.form__field--longtext {
    height: 100px;
}

.modal {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    transition: opacity 1s linear, backdrop-blur 1s linear;
    backdrop-filter: blur(0);
}

.modal--active {
    backdrop-filter: blur(5px);
    opacity: 1;
    pointer-events: all;
}

.modal__content {
    background-color: white;
    padding: 40px;
    width: 70%;
    border-radius: 10px;
    position: relative;
    transform: scale(0);
    transition: transform 1s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.modal__content--active {
    transform: scale(1);
}

.modal__btn--close {
    text-decoration: none;
    font-size: 24px;
    position: absolute;
    top: 5px;
    right: 10px;
}
