:root {
    --tran-info: 0.25s linear;
    --light-white-bg: rgba(255, 255, 255, 0.7);
    --black-col: #000000;
    --black-btn: rgba(0, 0, 0, 0.7);
    --white-col: #ffffff;
    --white-hover: rgba(255, 255, 255, 0.9);
    --body-bg-layer: rgba(0, 0, 0, 0.2);
    --red-col: red;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    align-items: center;
    background-image: url(../imgs/background-img-client.jpg);
    background-size: cover;
    display: flex;
    font-family: "Montserrat", sans-serif;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    width: 100%;
}

body::before {
    background-color: var(--body-bg-layer);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.panel {
    align-items: stretch;
    display: flex;
    justify-content: center;
    margin: 10px;
    max-width: 1200px;
    width: 100%;
    z-index: 2;
}

.panel__excursions {
    align-items: center;
    background: var(--light-white-bg);
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    transition: background-color var(--tran-info);
}

.excursions__item {
    display: none;
    min-height: 65vh;
    padding: 30px 60px;
}

.excursions__item--visible {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*.excursions {
    display: flex;
    flex-wrap: wrap;
}

.excurions__item {
    border: 1px solid #bbb;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    width: calc(50% - 20px);
}*/

.panel__form {
    background-color: #f4f4f4;
    padding: 20px;
    width: 30%;
}

.uploader, .order {
    border-bottom: 1px solid #bbb;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.summary__item--prototype,
.excursions__item--prototype {
    display: none;
}